src/*.exe
src/liteblocks
src/liteblocksd
src/test_liteblocks
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.liteblocks

# Compilation and Qt preprocessor part
*.qm
Makefile
liteblocks-qt
Liteblocks-Qt.app

# Unit-tests
Makefile.test
liteblocks-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
